</div>
<footer class="footer">
      <div class="container">
        <span class="text-muted">Copyright © 2020 Deepak Negi. All rights reserved.</span>
      </div>
    </footer>
  <!-- <div class="footer" style="margin-top:2rem;">
    <p> Copyright © 2020 Deepak Negi. All rights reserved.</p>
  </div> -->
</body>
</html>
